
<div id="Messenger">

    <div id="navbar">
        <div class="material-symbols-outlined">
        menu
        </div>
        <p class="header">CHATS</p>
        <p class="header">CALLS</p>
        <div class="material-symbols-outlined">
            Search
        </div>


        

    </div>


    <div id="body">

        <div id="sidebar">
            <a href="#">
                <div id="option1" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div id="option2" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
            <a href="#">
                <div id="option3" class="sidebarLines">
                    <div class="pfp"></div>
                    <div id="details">
                        <p>Yourname</p>
                        <p>Lorem ipsum ddor sit</p>
                    </div>                   
                </div>
            </a>
        </div>



        <div id="chats"></div>
    </div>
</div>